{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
<style>
    .main-sec--1 .hero-item-hero-int {
        background: none;
    }
    @media screen and (max-width: 1024px) {
        .main-sec--1 .hero-item-hero-int {
            background: none;
        }
    }
    .locale-selectors__container {
        display: none !important;
    }

    .hero-video {
        position: fixed;
        z-index: 0;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100vh;
        /*height: calc(var(--vh, 1vh) * 100);*/
        overflow: hidden;
        transform: translate(-50%, -50%);
    }

    #video-m {
        display: block;
        margin: auto;
        width: 100%;
        object-fit: cover;
        /*height: calc(var(--vh, 1vh) * 100);*/
        height: 100vh;
    }

    @media screen and (max-width: 1024px) {
        .hero-video {
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            /*height: 100vh;*/
            height: 100%;
            overflow: hidden;
            transform: translate(0, 0);
        }
    }

    .video-dim {
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
    }

    .video-dim-inner {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .video-dim-inner *,
    .video-dim-inner button {
        color: #fff;
        font-size: 14px;
        line-height: 16px;
    }

    @media screen and (max-width: 1024px) {
        .video-dim-inner *,
        .video-dim-inner button {
            color: #fff;
            font-size: 16px;
            line-height: 19px;
        }
    }

    .video-dim button {
        appearance: none;
        background: transparent;
        border: 0;
    }

    .video-dim button:last-child {
        padding: 1px 0;
    }

    /*.dim-text-pc {*/
    /*    display: block;*/
    /*    max-width: 550px;*/
    /*}*/

    .dim-text-pc {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: none;
    }

    .dim-text-m {
        display: none;
    }

    @media screen and (max-width: 1024px) {
        .dim-text-pc {
            display: none;
        }

        .dim-text-m {
            display: block;
        }
    }

    .dim-cont {
        position: absolute;
        z-index: 2;
        top: 50vh;
        left: 6px;
        transform: translateY(-50%);
        display: grid;
        grid-template-columns: 2fr 1fr;
        width: 100%;
    }

    @media screen and (max-width: 1024px) {
        .dim-cont {
            position: absolute;
            top: calc(var(--vh, 1vh) * 50);
            left: 0;
            padding: 0 6px;
            grid-template-columns: 1.5fr 0.5fr;
            box-sizing: border-box;
            align-items: baseline;
            display: block;
        }
    }

    .sound-btn-wrap,
    .sound-btn-list {
        display: flex;
        align-items: center;
    }

    .sound-btn-list > button {
        padding: 1px 0;
    }

    .sound-btn-list > button + button {
        margin-left: 8px;
    }

    @media screen and (max-width: 1024px) {
        .sound-btn-wrap {
            justify-content: flex-end;
            display: block;
        }

        .sound-btn-list {
            margin: 8px 0 0;
        }
    }

    .sound-btn-wrap > div:first-child {
        margin-right: 8px;
    }

    .sound-btn-list button {
        cursor: pointer;
    }

    .close-btn-wrap {
        display: flex;
        align-items: center;
    }

     @media screen and (max-width: 1024px) {
         .close-btn-wrap {
             /*justify-content: flex-end;*/
         }
     }

     .close-btn {
         cursor: pointer;
     }

     main {
         height: 100vh;
         overflow: hidden;
     }

     @media screen and (max-width: 1024px) {
         main {
             height: calc(var(--vh, 1vh) * 100);
             overflow: hidden;
         }
     }

    .main-hero * {
        color: #000;
    }

    .logo-black {
        display: block !important;
    }

    .logo-white {
        display: none !important;
    }

     .list-menu--inline li span,
     .header__menu-item span {
         color: #000;
     }

     .open .list-menu--inline li span,
     .open .header__menu-item span {
         color: #000;
     }

     .open .list-menu--inline li.off span,
     .open .header__2depth-col li.off a,
     .open .header-util.off *,
     .open .header-util a.off span {
         color: #CECED0;
     }

     .hero-item--hero-int.hero-int-1 * {
         color: #fff !important;
     }

     @media screen and (max-width: 1024px) {
         .logo-black {
             display: none !important;
         }

         .logo-white {
             display: block !important;
         }

         .header-util .header__menu-item span {
             color: #fff;
         }

         .main-hero * {
             color: #fff;
         }

         .list-menu--inline li span,
         .header__menu-item span {
             color: #fff;
         }

         .hero-item--hero-int.hero-int-1 * {
             color: #fff !important;
         }
     }

    .theme-main.main-theme--wh .list-menu--inline li span,
    .theme-main.main-theme--wh .header__menu-item span {
        color: #fff;
    }

    .theme-main.main-theme--wh .logo-white {
        display: block !important;
    }

    .theme-main.main-theme--wh .logo-black {
        display: none !important;
    }
</style>
{% comment %}<div class="video-dim">
    <div class="video-dim-inner">
        <div class="dim-cont">
            <div>
                <div class="dim-text-pc">
                    <div>Black Friday</div>
                    <div>
                        12:00 November, 27—19:00 December, 3 KST<br>
                        Up to 70%
                    </div>
                </div>
                <div class="dim-text-m">
                    Black Friday<br>
                    12:00 November, 27—19:00 December, 3 KST<br>
                    Up to 70%
                    <br><br>
                </div>
            </div>
            <div>Sound</div>
            <div class="sound-btn-wrap">
                {% comment %}<div class="sound-btn-list">
                    <button class="sound-on">On</button>
                    <button class="sound-off">Off</button>
                </div>{% endcomment %}
                <div class="close-btn">Close</div>
            </div>

        </div>
    </div>
</div>{% endcomment %}
<div class="main-hero">
    <div class="main-sec main-sec--1">
        <div class="hero-item hero-item--hero-int">
            <div class="hero-item-hero-int" style="">

            <!-- </div>
            <div class="hero-dim" style="background-image: url('https://cdn.shopify.com/s/files/1/1427/1204/files/shop.jpg?v=1742944926')">

            </div>
            <div class="hero-dim2" style="background-image: url('https://cdn.shopify.com/s/files/1/1427/1204/files/collection.jpg?v=1744158306')">

            </div> -->
            <div class="hero-video">
                <video id="video-m" playsinline autoplay muted loop>
                    <source src="https://cdn.shopify.com/videos/c/o/v/08bc537d9cef42e4b68af0f9d7aed28b.mp4" type="video/mp4">
                </video>
            </div>
            <div class="hero-title-wrap hero-title-wrap--pc">
                <div class="hero-title-item font-bold">
                    FW25
                </div>

                <div class="hero-title-item font-bold">
                    <a class="hero-int2" href="/blogs/collection/ss25">Collection</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="hero-int" href="/collections/all-1">Shop</a>
                </div>
            </div>
            <div class="hero-title-wrap hero-title-wrap--m">
                <div class="hero-title-item font-bold">
                    SS25
                </div>
                <div class="hero-title-item font-bold">
                    <a class="hero-int" href="/blogs/collection/ss25">Collection</a><br>
                    <a class="hero-int" href="/collections/all-1">Shop</a>
                </div>
            </div>
        </div>
    </div>
    {% comment %}<div class="main-sec main-sec--2">
      <div class="hero-item hero-item--hero-int2">
        <div class="hero-item-hero-int" style="background-image: url('https://choyeonjeong.com/hyeinseo/assets/3.jpg')">

        </div>
        <div class="hero-dim3" style="background-image: url('https://choyeonjeong.com/hyeinseo/assets/4.jpg')">

        </div>
        <div class="hero-dim4" style="background-image: url('https://choyeonjeong.com/hyeinseo/assets/5.jpg')">

        </div>
        <div class="hero-title-wrap">
          <div class="hero-title-item font-bold">
            SS 23 Paris Showroom
          </div>
          <div class="hero-title-item font-bold">
            <a class="hero-int3" href="#none">test</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="hero-int4" href="#none">test</a>
          </div>
        </div>
      </div>
    </div>
    <div class="main-sec main-sec--3">
      <div class="hero-col">
        <div class="hero-item" style="background-image: url('https://choyeonjeong.com/hyeinseo/assets/col-1.JPG')">
          <div class="hero-title font-bold hero-title--white">
            Accessories
          </div>
        </div>
        <div class="hero-item" style="background-image: url('https://choyeonjeong.com/hyeinseo/assets/col-2.jpg')">
          <div class="hero-title font-bold hero-title--white">
            FW&nbsp;&nbsp;&nbsp;22 TEST TEST test test
          </div>
        </div>
      </div>
    </div>{% endcomment %}
</div>

<script>
    (() => {
        let yOffset = 0;
        let prevScrollHeight = 0;
        let currentScene = 0;
        let enterNewScene = false;

        const sceneInfo = [
            {
                type: 'normal',
                heightNum: 5,
                scrollHeight: 0,
                objs: {
                    container: document.querySelector('.main-sec--1'),
                    title: document.querySelector('.main-sec--1 .hero-title-wrap'),
                },
                values: {}
            },
            {
                type: 'normal',
                heightNum: 5,
                scrollHeight: 0,
                objs: {
                    container: document.querySelector('.main-sec--2'),
                    title: document.querySelector('.main-sec--2 .hero-title-wrap'),
                },
                values: {}
            },
            {
                type: 'normal',
                heightNum: 5,
                scrollHeight: 0,
                objs: {
                    container: document.querySelector('.main-sec--3'),
                    title: document.querySelector('.main-sec--3 .hero-title-wrap'),
                },
                values: {}
            },
        ];

        function setLayout() {
            for (let i = 0; i < sceneInfo.length; i++) {
                sceneInfo[i].scrollHeight = sceneInfo[i].objs.container.offsetHeight;
                sceneInfo[i].objs.container.style.height = `${sceneInfo[i].scrollHeight}px`;
            }

            yOffset = window.pageYOffset;
            let totalScrollHeight = 0;
            for (let i = 0; i < sceneInfo.length; i++) {
                totalScrollHeight += sceneInfo[i].scrollHeight;
                if (totalScrollHeight >= yOffset) {
                    currentScene = i;
                    break;
                }
            }

            document.body.setAttribute('id', `show-scene-${currentScene}`);
        }

        function calcValues(values, currentYOffset) {
            let rv;
            const scrollHeight = sceneInfo[currentScene].scrollHeight;
            const scrollRatio = currentYOffset / scrollHeight;

            if (values.length === 3) {
                const partScrollStart = values[2].start * scrollHeight;
                const partScrollEnd = values[2].end * scrollHeight;
                const partScrollHeight = partScrollEnd - partScrollStart;

                if (currentYOffset >= partScrollStart && currentYOffset <= partScrollEnd) {
                    rv = (currentYOffset - partScrollStart) / partScrollHeight * (values[1] - values[0]) + values[0];
                } else if (currentYOffset < partScrollStart) {
                    rv = values[0];
                } else if (currentYOffset > partScrollEnd) {
                    rv = values[1];
                }
            } else {
                rv = scrollRatio * (values[1] - values[0]) + values[0];
            }

            return rv;
        }

        function playAnimation() {
            const objs = sceneInfo[currentScene].objs;
            const values = sceneInfo[currentScene].values;
            const currentYOffset = yOffset - prevScrollHeight;
            const scrollHeight = sceneInfo[currentScene].scrollHeight;
            const scrollRatio = currentYOffset / scrollHeight;

            switch (currentScene) {
                case 0:
                    break;
                case 1:
                    break;
                case 2:
                    break;
            }
        }

        function scrollLoop() {
            enterNewScene = false;
            prevScrollHeight = 0;

            for (let i = 0; i < currentScene; i++) {
                prevScrollHeight += sceneInfo[i].scrollHeight;
            }

            if (yOffset > prevScrollHeight / 2 + sceneInfo[currentScene].scrollHeight) {
                enterNewScene = true;
                currentScene++;
                document.body.setAttribute('id', `show-scene-${currentScene}`);
            }

            if (yOffset < prevScrollHeight / 2) {
                enterNewScene = true;
                if (currentScene === 0) return;
                currentScene--;
                document.body.setAttribute('id', `show-scene-${currentScene}`);
            }

            if (enterNewScene) return;
            playAnimation();
        }

        window.addEventListener('scroll', () => {
            yOffset = window.pageYOffset;
            scrollLoop();
        });

        // window.addEventListener('load', () => {
        //   setLayout();
        // });
        //
        // window.addEventListener('resize', () => {
        //   if (window.innerWidth > 1024) {
        //     window.location.reload();
        //   }
        //   setLayout();
        // });
    })();

    $(document).ready(function () {
        document.querySelector('.custom').classList.add('theme-main');
        // document.querySelector('.custom').classList.add('ss24-main');
    });

    document.querySelector('.hero-int').addEventListener('mouseenter', () => {
        // document.querySelector('.custom').classList.remove('ss24-main');
        document.querySelector('body').classList.add('main-theme--wh');
        document.querySelector('.hero-dim').classList.add('on');
        document.querySelector('.hero-item--hero-int').classList.add('hero-int-1');
    });

    document.querySelector('.hero-int').addEventListener('mouseleave', () => {
        document.querySelector('body').classList.remove('main-theme--wh');
        document.querySelector('.hero-dim').classList.remove('on');
        document.querySelector('.hero-item--hero-int').classList.remove('hero-int-1');
    });

    document.querySelector('.hero-int2').addEventListener('mouseenter', () => {
      document.querySelector('.hero-dim2').classList.add('on');
      document.querySelector('.hero-item--hero-int').classList.add('hero-int-2');
    });

    document.querySelector('.hero-int2').addEventListener('mouseleave', () => {
      document.querySelector('.hero-dim2').classList.remove('on');
      document.querySelector('.hero-item--hero-int').classList.remove('hero-int-2');
    });

    // document.querySelector('.hero-int3').addEventListener('mouseenter', () => {
    //   document.querySelector('.hero-dim3').classList.add('on');
    //   document.querySelector('.hero-item--hero-int2').classList.add('hero-int-3');
    // });
    //
    // document.querySelector('.hero-int3').addEventListener('mouseleave', () => {
    //   document.querySelector('.hero-dim3').classList.remove('on');
    //   document.querySelector('.hero-item--hero-int2').classList.remove('hero-int-3');
    // });
    //
    // document.querySelector('.hero-int4').addEventListener('mouseenter', () => {
    //   document.querySelector('.hero-dim4').classList.add('on');
    //   document.querySelector('.hero-item--hero-int2').classList.add('hero-int-4');
    // });
    //
    // document.querySelector('.hero-int4').addEventListener('mouseleave', () => {
    //   document.querySelector('.hero-dim4').classList.remove('on');
    //   document.querySelector('.hero-item--hero-int2').classList.remove('hero-int-4');
    // });

    window.addEventListener('load', () => {
        setSize();

        $('.hero').css({
            'height' : $(window).height()
        })

        let video = document.getElementById('video-m');
        const desktopVideos = [
            "https://cdn.shopify.com/videos/c/o/v/08bc537d9cef42e4b68af0f9d7aed28b.mp4"
        ];

        const mobileVideos = [
            "https://cdn.shopify.com/videos/c/o/v/08bc537d9cef42e4b68af0f9d7aed28b.mp4"
        ];

        function getRandomVideo(videoArray) {
            return videoArray[Math.floor(Math.random() * videoArray.length)];
        }

        if ($(window).width() <= 768) {
            const randomVideo = getRandomVideo(mobileVideos);
            video.innerHTML = `<source src="${randomVideo}" type="video/mp4">`;
        } else {
            const randomVideo = getRandomVideo(desktopVideos);
            video.innerHTML = `<source src="${randomVideo}" type="video/mp4">`;
        }
    });

     document.querySelector('.sound-on').addEventListener('click', function () {
         const video = document.getElementById('video-m');
         video.muted = false;
         document.querySelector('.video-dim').style.display = 'none';
     });
    
     document.querySelector('.sound-off').addEventListener('click', function () {
         document.querySelector('.video-dim').style.display = 'none';
     });
</script>

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.image-banner.settings.image_2.label"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-banner.settings.image_height.label",
      "info": "t:sections.image-banner.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "adapt_height_first_image",
      "default": false,
      "label": "t:sections.image-banner.settings.adapt_height_first_image.label",
      "info": "t:sections.image-banner.settings.adapt_height_first_image.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.image-banner.settings.desktop_content_position.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_box.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.image-banner.settings.color_scheme.info"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.header.content"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_below.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
