{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

<div class="main-hero">
  <div class="main-sec main-sec--1">
    <div class="hero-item hero-item--test">
      <div class="hero-item-test" style="background-image: url('https://choyeonjeong.com/hyeinseo/assets/main.jpg')">

      </div>
      <div class="hero-dim" style="background-image: url('https://choyeonjeong.com/hyeinseo/assets/1.jpg')">

      </div>
      <div class="hero-dim2" style="background-image: url('https://choyeonjeong.com/hyeinseo/assets/2.jpg')">

      </div>
      <div class="hero-title-wrap">
        <div class="hero-title-item font-bold hero-title--white">
          FW22&nbsp;&nbsp;&nbsp;&nbsp;Nausicaa
        </div>
        <div class="hero-title-item font-bold hero-title--white">
          <a class="test" href="#none">Collection</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="test2" href="#none">Shop now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="main-sec main-sec--2">
    <div class="hero-item hero-item--test2">
      <div class="hero-item-test" style="background-image: url('https://choyeonjeong.com/hyeinseo/assets/3.jpg')">

      </div>
      <div class="hero-dim3" style="background-image: url('https://choyeonjeong.com/hyeinseo/assets/4.jpg')">

      </div>
      <div class="hero-dim4" style="background-image: url('https://choyeonjeong.com/hyeinseo/assets/5.jpg')">

      </div>
      <div class="hero-title-wrap">
        <div class="hero-title-item font-bold">
          SS 23 Paris Showroom
        </div>
        <div class="hero-title-item font-bold">
          <a class="test3" href="#none">test</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="test4" href="#none">test</a>
        </div>
      </div>
    </div>
  </div>
  <div class="main-sec main-sec--3">
    <div class="hero-col">
      <div class="hero-item" style="background-image: url('https://choyeonjeong.com/hyeinseo/assets/col-1.JPG')">
        <div class="hero-title font-bold hero-title--white">
          Accessories
        </div>
      </div>
      <div class="hero-item" style="background-image: url('https://choyeonjeong.com/hyeinseo/assets/col-2.jpg')">
        <div class="hero-title font-bold hero-title--white">
          FW&nbsp;&nbsp;&nbsp;22 TEST TEST test test
        </div>
      </div>
    </div>
  </div>
  <div class="main-sec"></div>
</div>

<script>
  (() => {
    let yOffset = 0;
    let prevScrollHeight = 0;
    let currentScene = 0;
    let enterNewScene = false;

    const sceneInfo = [
      {
        type: 'normal',
        heightNum: 5,
        scrollHeight: 0,
        objs: {
          container: document.querySelector('.main-sec--1'),
          title: document.querySelector('.main-sec--1 .hero-title-wrap'),
        },
        values: {

        }
      },
      {
        type: 'normal',
        heightNum: 5,
        scrollHeight: 0,
        objs: {
          container: document.querySelector('.main-sec--2'),
          title: document.querySelector('.main-sec--2 .hero-title-wrap'),
        },
        values: {

        }
      },
      {
        type: 'normal',
        heightNum: 5,
        scrollHeight: 0,
        objs: {
          container: document.querySelector('.main-sec--3'),
          title: document.querySelector('.main-sec--3 .hero-title-wrap'),
        },
        values: {

        }
      },
    ];

    function setLayout() {
      for (let i = 0; i < sceneInfo.length; i++) {
        sceneInfo[i].scrollHeight = sceneInfo[i].objs.container.offsetHeight;
        sceneInfo[i].objs.container.style.height = `${sceneInfo[i].scrollHeight}px`;
      }

      yOffset = window.pageYOffset;
      let totalScrollHeight = 0;
      for (let i = 0; i < sceneInfo.length; i++) {
        totalScrollHeight += sceneInfo[i].scrollHeight;
        if (totalScrollHeight >= yOffset) {
          currentScene = i;
          break;
        }
      }

      document.body.setAttribute('id', `show-scene-${currentScene}`);
    }

    function calcValues(values, currentYOffset) {
      let rv;
      const scrollHeight = sceneInfo[currentScene].scrollHeight;
      const scrollRatio = currentYOffset / scrollHeight;

      if (values.length === 3) {
        const partScrollStart = values[2].start * scrollHeight;
        const partScrollEnd = values[2].end * scrollHeight;
        const partScrollHeight = partScrollEnd - partScrollStart;

        if (currentYOffset >= partScrollStart && currentYOffset <= partScrollEnd) {
          rv = (currentYOffset - partScrollStart) / partScrollHeight * (values[1] - values[0]) + values[0];
        } else if (currentYOffset < partScrollStart) {
          rv = values[0];
        } else if (currentYOffset > partScrollEnd) {
          rv = values[1];
        }
      } else {
        rv = scrollRatio * (values[1] - values[0]) + values[0];
      }

      return rv;
    }

    function playAnimation() {
      const objs = sceneInfo[currentScene].objs;
      const values = sceneInfo[currentScene].values;
      const currentYOffset = yOffset - prevScrollHeight;
      const scrollHeight = sceneInfo[currentScene].scrollHeight;
      const scrollRatio = currentYOffset / scrollHeight;

      switch (currentScene) {
        case 0:
          break;
        case 1:
          break;
        case 2:
          break;
      }
    }

    function scrollLoop() {
      enterNewScene = false;
      prevScrollHeight = 0;

      for (let i = 0; i < currentScene; i++) {
        prevScrollHeight += sceneInfo[i].scrollHeight;
      }

      if (yOffset > prevScrollHeight/2 + sceneInfo[currentScene].scrollHeight) {
        enterNewScene = true;
        currentScene++;
        document.body.setAttribute('id', `show-scene-${currentScene}`);
      }

      if (yOffset < prevScrollHeight/2) {
        enterNewScene = true;
        if (currentScene === 0) return;
        currentScene--;
        document.body.setAttribute('id', `show-scene-${currentScene}`);
      }

      if (enterNewScene) return;
      playAnimation();
    }

    window.addEventListener('scroll', () => {
      yOffset = window.pageYOffset;
      scrollLoop();
    });

    window.addEventListener('load', () => {
      setLayout();
    });

    window.addEventListener('resize', () => {
      if (window.innerWidth > 1024) {
        window.location.reload();
      }
      setLayout();
    });
  })();

  $(document).ready(function(){
    document.querySelector('.custom').classList.add('theme-main');
    document.querySelector('.header').classList.remove('header--black');
    document.querySelector('.header').classList.add('header--white');
  });

  document.querySelector('.test').addEventListener('mouseenter', () => {
    document.querySelector('.hero-dim').classList.add('on');
    document.querySelector('.hero-item--test').classList.add('test-1');
    document.querySelector('header').style.opacity = 0 ;
  });

  document.querySelector('.test').addEventListener('mouseleave', () => {
    document.querySelector('.hero-dim').classList.remove('on');
    document.querySelector('.hero-item--test').classList.remove('test-1');
    document.querySelector('header').style.opacity = 1 ;
  });

  document.querySelector('.test2').addEventListener('mouseenter', () => {
    document.querySelector('.hero-dim2').classList.add('on');
    document.querySelector('.hero-item--test').classList.add('test-2');
    document.querySelector('header').style.opacity = 0 ;
  });

  document.querySelector('.test2').addEventListener('mouseleave', () => {
    document.querySelector('.hero-dim2').classList.remove('on');
    document.querySelector('.hero-item--test').classList.remove('test-2');
    document.querySelector('header').style.opacity = 1 ;
  });

  document.querySelector('.test3').addEventListener('mouseenter', () => {
    document.querySelector('.hero-dim3').classList.add('on');
    document.querySelector('.hero-item--test2').classList.add('test-3');
    document.querySelector('header').style.opacity = 0 ;
  });

  document.querySelector('.test3').addEventListener('mouseleave', () => {
    document.querySelector('.hero-dim3').classList.remove('on');
    document.querySelector('.hero-item--test2').classList.remove('test-3');
    document.querySelector('header').style.opacity = 1 ;
  });

  document.querySelector('.test4').addEventListener('mouseenter', () => {
    document.querySelector('.hero-dim4').classList.add('on');
    document.querySelector('.hero-item--test2').classList.add('test-4');
    document.querySelector('header').style.opacity = 0 ;
  });

  document.querySelector('.test4').addEventListener('mouseleave', () => {
    document.querySelector('.hero-dim4').classList.remove('on');
    document.querySelector('.hero-item--test2').classList.remove('test-4');
    document.querySelector('header').style.opacity = 1 ;
  });
</script>

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.image-banner.settings.image_2.label"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-banner.settings.image_height.label",
      "info": "t:sections.image-banner.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "adapt_height_first_image",
      "default": false,
      "label": "t:sections.image-banner.settings.adapt_height_first_image.label",
      "info": "t:sections.image-banner.settings.adapt_height_first_image.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.image-banner.settings.desktop_content_position.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_box.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.image-banner.settings.color_scheme.info"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.header.content"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_below.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
