div#CartDrawer {
  width: 100%;
}

.drawer {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  transition: visibility var(--duration-default) ease;
}
.drawer.is-empty {
 background-color: rgba(255,255,255, 0.5);
}
.cart-drawer__empty{
  display:flex;
  justify-content: space-between;
}
.drawer.active {
  visibility: visible;
}

.drawer__inner {
  height: 100%;
  width: 100%;
  padding: 4.8px 5.5px;
  border-right: 0;
  background-color: rgb(var(--color-background));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
/*   transition: transform var(--duration-default) ease; */
}
.is-empty .drawer__inner{
  background-color: transparent;
}
.drawer__inner-empty {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cart-drawer__warnings {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

cart-drawer.is-empty .drawer__inner {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0;
}

cart-drawer.is-empty .drawer__header {
  display: none;
}

cart-drawer:not(.is-empty) .cart-drawer__warnings,
cart-drawer:not(.is-empty) .cart-drawer__collection {
  display: none;
}

.cart-drawer__warnings--has-collection .cart__login-title {
  margin-top: 2.5rem;
}

.drawer.active .drawer__inner {
  transform: translateX(0);
}

.drawer__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom : 4.9px;
}


.drawer__close {
  padding:0;
  margin: 0;
  color: rgb(var(--color-foreground));
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-drawer__warnings .drawer__close {
  right: 5px;
}

.drawer__close svg {
  height: 2.4rem;
  width: 2.4rem;
}

.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.drawer__footer {
  display : grid;
  gap: 5.2px;
  grid-template-columns: repeat(3,1fr);
  background-color: rgb(var(--color-background));
  padding: 3.2px 0;
}

@media screen and (max-width:768px){
  .drawer__footer {
    display: block;
  }
}
.drawer__footer .footer_grid__box{
  display:grid;
  gap: 5.2px;
  grid-template-columns: repeat(2,1fr);
}

.drawer__footer .finish__cart {
  /*margin-top : */
}

cart-drawer-items.is-empty + .drawer__footer {
  /*display: none;*/
}

.drawer__footer > details {
  margin-top: -1.5rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
}

.drawer__footer > details[open] {
  padding-bottom: 1.5rem;
}

.drawer__footer summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 0;
}

.drawer__footer > details + .cart-drawer__footer {
  padding-top: 1.5rem;
}

cart-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-drawer__overlay:empty {
  display: block;
}

.cart-drawer__form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.cart-drawer__collection {
  margin: 0 2.5rem 1.5rem;
}

.cart-drawer .drawer__cart-items-wrapper {
  flex-grow: 1;
}

.cart-drawer tbody {
  display: grid;
  gap: 30px 6px;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
}
@media screen and (max-width: 768px) {
  .cart-drawer tbody {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 4px;
  }
}
.cart-drawer thead {
  display: inline-table;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgb(var(--color-base-background-1));
}

cart-drawer-items {
  overflow: auto;
  flex: 1;
  margin: -2px;
}

@media screen and (max-height: 650px) {
  cart-drawer-items {
    overflow: visible;
  }

  .drawer__inner {
    overflow: scroll;
  }
}

.cart-drawer .cart-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.cart-drawer .cart-item:last-child {
  /*margin-bottom: 1rem;*/
}

.cart-drawer .cart-item__media {
  grid-row: 1 / 3;
}

.cart-drawer .cart-item__image {
  max-width: 100%;
}

.cart-drawer .cart-items thead {
  margin-bottom: 0.5rem;
}

.cart-drawer .cart-items thead th:first-child,
.cart-drawer .cart-items thead th:last-child {
  width: 0;
  padding: 0;
}

.cart-drawer .cart-items thead th:nth-child(2) {
  width: 50%;
  padding-left: 0;
}

.cart-drawer .cart-items thead tr {
  display: table-row;
  margin-bottom: 0;
}

.cart-drawer .cart-items th {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart-drawer .cart-item:last-child {
  /*margin-bottom: 1.5rem;*/
}

.cart-drawer .cart-item .loading-overlay {
  right: 5px;
}

.cart-drawer .cart-items td {
  width:100%;
}



.cart-drawer .cart-item__details {
  width: auto;
  grid-column: 2 / 4;
}

.cart-drawer .cart-item__totals {
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.cart-drawer.cart-drawer .cart-item__price-wrapper > *:only-child {
  margin-top: 0;
}

.cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.cart-drawer .unit-price {
  margin-top: 0.6rem;
}

.cart-drawer .cart-items .cart-item__quantity {
  padding-top: 0;
  grid-column: 2 / 5;
}

.cart-drawer .cart-item cart-remove-button {
  position: absolute;
  top: 0;
  right: 6px;
}

@media screen and (max-width: 1024px) {
  .cart-drawer .cart-item cart-remove-button {
    position: absolute;
    top: 1px;
    right: 6px;
  }
}

  cart-drawer-items::-webkit-scrollbar {
  width: 3px;
}

cart-drawer-items::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.7);
  border-radius: 100px;
}

cart-drawer-items::-webkit-scrollbar-track-piece {
  margin-top: 31px;
}
