.header__search__pc{
  display:block;
}
.header__search__mo{
  display: none;
}
@media only screen and (max-width: 1024px){
  .header__search__pc{
    display: none;
  }
  .header__search__mo{
    display: block;
  }
}
.predictive-search {
  position: absolute;
  top: calc(100% + 0.1rem);
  left: 0;
  border:none;
}

#predictive-search-results-list{
  display: grid;
  grid-template-columns: repeat(6, 1fr)
}

@media only screen and (max-width: 1024px){
  #predictive-search-results-list{
    grid-template-columns: repeat(2, 1fr)
  }
}

.predictive-search__item--link{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.header__search__pc .field{
  position : relative;
  
}
.header__search__pc .modal__close-button.link{
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: auto; 
  height: auto;
}
.header__search__mo .search__input.field__input {
  text-align : left;
  padding-left: 0.5rem;
}
.header__search__mo .modal__close-button.link {
  width: auto; 
  height: auto;
}
.header__search__mo .predictive-search.predictive-search--header{
  top: 2.2rem;
}
.header-util{
  z-index : -1;
}

